dist/
node_modules/
schemas/
artifacts/
src/_generated
.timestamps
*.tgz
python/poetry.lock
python/pyproject.toml
python/mozilla_nimbus_shared/data.json
python/mozilla_nimbus_shared/schemas/
*.egg-info
python/README.md
.vscode
__pycache__
